name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            **/go.sum
            **/go.mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19
      - run: go version

      - name: Examine source code for Linux AMD
        run: GOOS=linux GOARCH=amd64 go vet -v ./...

      - name: Examine source code for MacOS AMD
        run: GOOS=darwin GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Windows AMD
        run: GOOS=windows GOARCH=amd64 go vet -v ./...

      - name: Examine source code for Linux ARM
        run: GOOS=linux GOARCH=arm64 go vet -v ./...

      - name: Examine source code for MacOS ARM
        run: GOOS=darwin GOARCH=arm64 go vet -v ./...

      - name: Examine source code for Windows ARM
        run: GOOS=windows GOARCH=arm64 go vet -v ./...

      - name: Gosec security scanner
        uses: securego/gosec@master
        with:
          args: -include=G102,G103,G104,G106,G107,G108,G109,G110,G111,G112,G113,G114,G201,G202,G203,G204,G205 ./...

      - name: Build for Linux AMD
        run: GOOS=linux GOARCH=amd64 go build -v ./...

      - name: Build for MacOS AMD
        run: GOOS=darwin GOARCH=amd64 go build -v ./...

      - name: Build for Windows AMD
        run: GOOS=windows GOARCH=amd64 go build -v ./...

      - name: Build for Linux ARM
        run: GOOS=linux GOARCH=arm64 go build -v ./...

      - name: Build for MacOS ARM
        run: GOOS=darwin GOARCH=arm64 go build -v ./...

      - name: Build for Windows ARM
        run: GOOS=windows GOARCH=arm64 go build -v ./...

      - name: Test
        if: github.event_name == 'push'
        env:
          TEST_ENV_URL: ${{ secrets.TEST_ENV_URL }}
          TEST_INDEX_HTML_URL: ${{ secrets.TEST_INDEX_HTML_URL }}
          TEST_SENTRY_DSN: ${{ secrets.TEST_SENTRY_DSN }}
          TEST_KEY_FILE_LOCATION: ${{ secrets.TEST_KEY_FILE_LOCATION }}
        run: go test -v -cover -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage reports to Codecov
        if: github.event_name == 'push'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: pilinux/gorest

      - name: Update Go report card
        if: github.event_name == 'push'
        uses: creekorful/goreportcard-action@v1.0
